<nav>
    <img class="logo" src="img/logo.svg" alt="logo">
    <ul class="nav-items">
        <li class="nav-links"><a href="/">Home</a></li>
        <li class="nav-links"><a href="/vlog">Vlog</a></li>
        <li class="nav-links"><button><a href="/login">Log In</a></button></li>
        <li class="nav-links"><button><a href="/signup">Sign Up</a></button></li>
    </ul>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>