<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>link}}
</head>

<body>
    <div class="container">
        {{>nav}}
        <div class="main">
            <div class="left-div">
                <img class="vlogimg" src="img/vlogpic.svg" alt="slider">
            </div>
            <div class="right-div">
                <h1>Welcome To My Vlog Site</h1>
                <h2>Nazmul Islam</h2>
                <p>Life is not a race. This should be enjoyable to pray Allah</p>
            </div>
        </div>
    </div>
    {{>footer}}
    {{>jslink}}
</body>

</html>